html {
  scroll-behavior: smooth;
  font-size: 20px;
}

body {
  color: $black;
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  box-sizing: border-box;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

header.mainHeader {
  background: $gray;
  padding-top: 20px;
  padding-bottom: 200px;
  position: relative;

  .container {
    > img {
    }

    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;

      ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: right;
        align-items: center;

        li.nav__item {
          @include linkHover;

          a {
            text-transform: uppercase;
            text-decoration: none;
            color: $black;
            margin-left: 20px;
            font-size: 0.75rem;
            font-weight: 500;
            // add color on visited
            // &:visited{
            //   color: $green_blue
            // }
          }
        }
      }
    }

    .main_content {
      width: 480px;
      display: flex;
      flex-direction: column;
      margin-left: calc(100% - 480px);
      margin-top: 100px;

      h1 {
        font-weight: 500;
      }

      p {
        font-size: 0.9rem;
        margin-top: 0;
        color: $gray_text;
        line-height: 1.7;
      }

      a.main_content__button {
        @include button;
        margin-left: 0;
        margin-top: 20px;
      }
    }
  }
}

.about_us {
  max-width: 640px;
  width: 100%;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 80px;
  text-align: center;

  h2 {
  }

  p {
    color: $gray_text;
    letter-spacing: 0.5px;
    line-height: 1.4;
    font-size: 0.9rem;
  }

  > img {
    max-width: 300px;
    width: 100%;
  }
}

.skills {
  .dual {
    display: flex;
    align-items: center;
    justify-content: center;
    // min-width:

    > .single {
      width: 100%;
      height: 100%;

      &:nth-child(1) {
        background: #f8f9f9;
        max-width: 50%;
        width: 100%;
        max-height: 100%;
        height: 570px;
      }

      &:nth-child(2) {
        background: #e9e9e9;
        max-width: 50%;
        width: 100%;
        max-height: 100%;
        height: 570px;
      }

      .content {
        max-width: 500px;
        margin-top: 150px;
        margin-left: 11%;

        .progress {
          @include progressBar;

          > .description {
            text-transform: uppercase;
            margin-bottom: 20px;
            font-size: 0.8rem;
            font-weight: 500;
            margin-top: 40px;

            &:nth-child(5),
            &:nth-child(3) {
              margin-top: 40px;
            }
          }
        }
      }
    }
  }
}

.summary {
  background: $green_blue;
  height: 250px;
  display: flex;
  align-items: center;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    > .single {
      display: flex;
      align-items: center;
      justify-content: space-between;
      > img {
      }
      .description {
        color: $white;
        margin-left: 20px;
        p {
          padding: 0;
          margin: 0;
          // font-weight: 300;
          font-size: 0.65rem;
          text-transform: uppercase;
          &.header {
            margin-bottom: 10px;
            font-weight: 500;
            font-size: 0.9rem;
          }
        }
      }
    }
  }
}

.linkBoxes {
  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    .box {
      height: calc(350px - 50px - 1vw);
      // height: 100%;
      max-width: 25%;
      width: 100%;
      background: $gray_dark;
      position: relative;
      &:nth-child(even) {
        background: $gray_light;
      }
      &.second {
        background: $gray_light;
        &:nth-child(even) {
          background: $gray_dark;
        }
      }
      &::first-line {
        background: red;
      }
      > .description {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition-timing-function: linear;
        transition: 0.5s ease;
        background-color: $dark;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
          opacity: 1;
        }
        > img {
        }
      }
    }
  }
}

.ourWork {
  margin-top: 100px;
  .container {
    header {
      width: 500px;
      margin: 0 auto;
      text-align: center;
      margin-bottom: 30px;
      > h2 {
      }
      > p.description {
        font-size: 0.8rem;
      }
    }
  }
  .content {
    .video-container {
      margin: 0;
      width: 100%;
      height: 0;
      padding-top: 56.25%;
      background-color: $gray;
      position: relative;
      .iframe_button {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        > img {
          position: absolute;
          left: 0;
          right: 0;
          margin-left: auto;
          margin-right: auto;
          top: 0;
          bottom: 0;
          margin-top: auto;
          margin-bottom: auto;
        }
      }
    }
    .video-container iframe {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

.advert {
  background: $gray;
  margin-top: 100px;
  padding-top: 55px;
  padding-bottom: 90px;
  .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    .single {
      max-width: 25%;
      width: 100%;
      margin-top: 35px;
      >img{

      }
      .description{
        margin: 0 auto;
        max-width: 80%;
        width: 100%;
        p.header{
          font-weight: 600;
          text-transform: uppercase;
          font-size: 0.7rem
        }
        p:not(.header){
          font-size: 0.65rem;
          line-height: 1.6;
        }
      }
    }
  }
}
