html {
  scroll-behavior: smooth;
  font-size: 20px;

  @include media(700px) {
    font-size: 19px;
  }
}

body {
  color: $white;
  font-family: 'Montserrat', sans-serif;
  background-color: $background-def;
  box-sizing: border-box;
}

#fade {
  opacity: 0;
}

.ueFlagMain {
  max-width: 300px;
  width: 100%;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

header.main_header {
  background: $background-dark_blue;

  nav {
    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;

      >img.main_logo {
        max-width: 150px;

        @include media(400px) {
          max-width: 120px;
        }
      }

      ul {
        list-style: none;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        li {
          a {
            text-decoration: none;
            color: inherit;
            margin-left: 25px;
            display: inline-block;
            position: relative;
            font-size: 1rem;
            margin-bottom: 5px;
            @include hoverAnimation;

            @include media(550px) {
              font-size: 0.8rem;
              margin-left: 15px;
            }
          }
        }
      }
    }
  }

  .main {
    .content {
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin-top: 50px;
      padding-bottom: 50px;

      @include media(850px) {
        flex-direction: column;

        br {
          display: none;
        }
      }

      h1 {
        font-size: 1.45rem;
        font-weight: 400;
        line-height: 1.3;
        text-transform: uppercase;

        @include media(700px) {
          font-size: 1.3rem;
        }

        @include media(500px) {
          font-size: 1.1rem;
          text-align: center;
        }
      }

      >img.main_image {
        max-width: 100%;
        width: 100%;
      }
    }

    footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 10px;
      flex-wrap: wrap;

      @include media(500px) {
        display: none;
      }

      img {
        max-width: 85px;
        width: auto;
        height: auto;
        max-height: 27px;
        margin: 3px;
      }
    }
  }
}

main.main {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-bottom: 10px;
  background: $white;
  padding-top: 40px;
  color: $light-blue;

  section.section.comment {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $light-blue;
    margin: 0 10px;
    padding-right: 10px;
    margin-top: 40px;
    @include boxShadow;

    @include media(700px) {
      flex-direction: column-reverse;
      padding: 10px
    }

    >.person {
      width: 30%;
      text-align: center;
      font-size: 0.7rem;
      margin-right: 20px;
      padding: 10px 0 5px 15px;

      @include media(700px) {
        width: 100%;
      }

      >img {
        border-radius: 50%;
        max-width: 100px;
        margin: 0 auto;
        display: block;
      }

      p {
        &:nth-of-type(1) {
          font-weight: 600;
          margin-bottom: 0;
          padding-bottom: 0;
        }

        &:nth-of-type(2) {
          margin-top: 5px;
        }
      }
    }

    >.description {
      >header {
        background: inherit;
        color: inherit;
        font-weight: 600;
      }

      p {
        line-height: 1.3;
        // font-weight: 200;
        font-size: 0.9rem;

        @include media(500px) {
          font-size: 0.8rem;
        }
      }

    }
  }

  section.section.solution {
    max-width: 95%;
    width: 100%;
    margin: 0 auto;
    margin-top: 40px;

    &.subsidy {
      @include boxShadow;
      padding: 20px;
      margin: 30px 10px 10px;
      width: auto;
    }

    img.funds {
      max-width: 100%;
      margin-top: 20px;
    }

    p.funds_description {
      font-size: 0.7rem;
    }

    >header {
      line-height: 1;
      text-align: center;
      font-size: 1.2rem;
      line-height: 1.2;
      margin-bottom: 30px;

      @include media(550px) {
        font-size: 1.1rem;
      }
    }

    .main_content {
      display: flex;
      align-items: center;
      justify-content: center;

      @include media(750px) {
        flex-direction: column-reverse;
      }

      >.description {
        font-size: 0.8rem;
        margin-right: 20px;

        @include media(750px) {
          margin-right: 0;
        }

        >.subsidy {
          color: inherit;
        }

        >ul {
          @include media(400px) {
            margin-left: 0;
            padding-inline-start: 20px;
          }


          li {
            margin-top: 5px;
          }
        }
      }

      >img {
        max-width: 50%;

        @include media(750px) {
          max-width: 80%;
        }
      }
    }
  }
}

section.contact {
  background: #232C47;
  margin-bottom: 20px;
  padding: 15px 20px 20px;
  box-sizing: border-box;

  h2 {
    font-size: 1em;
    @include media(500px) {
      font-size: 1.1rem;
    }
  }

  >.main_content {
    text-align: center;

    p {
      >a {
        text-decoration: none;
        color: inherit;
        display: inline-block;
        position: relative;
        font-size: 1rem;
        @include hoverAnimation;

        &:nth-of-type(1) {
          margin-right: 10px;
        }

        @include media(500px) {
          font-size: 0.9rem;
        }
      }
    }
  }
}

footer {
  .container {
    background: #232C47;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 0.7rem;
    padding-top: 10px;
    padding-bottom: 10px;
    flex-wrap: wrap;

    >img {
      max-width: 150px;
      width: 100%;
      margin-left: 10px;
    }

    >p {
      font-size: 0.6rem;
      margin-left: 10px;
      font-style: italic;
    }
  }
}

/* loader */

.loader {
  position: absolute;
  inset: 0px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  flex-direction: column;
  background: rgb(245, 247, 249);
  z-index: 2147483647;
  transition: all 300ms ease 0s;
  opacity: 1;
  visibility: visible;
  height: 100vh;
  width: 99vw;
  overflow: hidden;

  &_container {
    margin: 0 auto;

    div.img {
      img {
        max-width: 90px;
        width: 100px;
        text-align: center;
        display: block;
        margin: 0 auto;
      }
    }

    div.animator {
      height: 6px;
      margin-top: 1.5rem;
      overflow: hidden;
      position: relative;
      width: 120px;
      border-radius: 2px;

      .line {
        animation: 2s ease-in-out 0s infinite normal none running grojAY;
        background: linear-gradient(to right, rgb(18, 22, 36) 0%, rgb(70, 147, 167) 100%);
        position: absolute;
        height: 100%;
        width: 50%;
        border-radius: 2px;
      }
    }
  }
}

@keyframes grojAY {
  0% {
    left: -15%;
  }

  50% {
    left: 80px;
  }

  100% {
    left: -15%;
  }
}